# Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [120]:
# Your code here
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [121]:
# Your code here
Message = input("Enter your Message : ")
print(Message)

Enter your Message : Hello World!
Hello World!

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [122]:
# Your code here
num = float(input("Enter the number : "))
if num > 0:
    print("The Number is Positive")
elif num < 0:
    print("The Number is Negativee")
else:
    print("The Number is Zero")

Enter the number : 0
The Number is Zero

**Question 4:** Write a Python program to find the largest of three numbers.

In [123]:
# Your code here
# x,y,z = 10,20,30
# first = int(input("Enter Your First Number : "))
# second = int(input("Enter Your Second Number : "))
# third = int(input("Enter Your Third Number : "))
first,second,third = map(int,input("Enter the Numbers Seperated by Spaces : ").split())
if first >= second and first>= third:
    print(f"The Largest Number among {first,second,third} is : {first}")
elif second>= first and second >=third:
    print(f"The Largest Number among {first,second,third} is : {second}")
else:
    print(f"The Largest Number among {first,second,third} is : {third}")

Enter the Numbers Seperated by Spaces : 1 2 3
The Largest Number among (1, 2, 3) is : 3

**Question 5:** Write a Python program to calculate the factorial of a number.

In [124]:
# Your code here
def factorial(num):
    if num<0:
        return "Not Possible!!"
    result = 1
    for i in range(1,num+1):
        result*=i
    return result
num = int(input("Enter the number : "))
print(f"Factorial of {num} is {factorial(num)}")

Enter the number : 20
Factorial of 20 is 2432902008176640000

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [148]:
from re import A
# Your code here
A = 10
B = 10.0
C =  "Sri Ram"
D = True
print(f"Value of A is {A} and type is {type(A)}")
print(f"Value of B is {B} and type is {type(B)}")
print(f"Value of C is \"{C}\" and type is {type(C)}")
print(f"Value of D is {D} and type is {type(D)}")

Value of A is 10 and type is <class 'int'>
Value of B is 10.0 and type is <class 'float'>
Value of C is "Sri Ram" and type is <class 'str'>
Value of D is True and type is <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [126]:
# Your code here
X = 10
Y = 20
print(f"Before swap X is {X} and Y is {Y}\n")
temp = X
X = Y
Y = temp
print(f"After swap X is {X} and Y is {Y}")

Before swap X is 10 and Y is 20

After swap X is 20 and Y is 10

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [127]:
# Your code here
celcius = int(input("Enter the value in Celcius degree : "))
print(f"The {celcius} degree in Fahrenheit is {(celcius * 1.8) + 32}")

Enter the value in Celcius degree : 36
The 36 degree in Fahrenheit is 96.8

**Question 9:** Write a Python program to concatenate two strings.

In [128]:
# Your code here
str1 = "Hello, "
str2 = "World!"
print(f"The Concatenated String is {str1 + str2}")

The Concatenated String is Hello, World!

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [129]:
# Your code here
x = 10
if type(x) == int :
    print(f"{x} is an Integer")
elif type(x) == float :
    print(f"{x} is a Float")
elif type(x) == str :
    print(f"{x} is a String")
elif type(x) == bool :
    print(f"{x} is a Boolean")
elif type(x) == complex:
    print(f"{x} is a Complex Number")
else:
    print(f"{x} is of Other types")

10 is an Integer

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [130]:
# Your code here
class Calculator:
     def __init__(self,a,b) -> None:
        self.a = a
        self.b = b
     def add(self):
         return a + b
     def sub(self):
         return a - b
     def mul(self):
         return a * b
     def div(self):
         if b!=0:
            return a / b
     def floor(self):
         if b!=0:
            return a // b
     def mod(self):
         if b!=0:
            return a % b

a,b = input("Enter two numbers seperated by a space : ").split()
a=int(a)
b=int(b)
calc = Calculator(a,b)
print(f"Addition Value is {calc.add()}")
print(f"Subtraction Value is {calc.sub()}")
print(f"Multiplication Value is {calc.mul()}")
print(f"Division Value is {calc.div()}")
print(f"Floor Division Value is {calc.floor()}")
print(f"Modular Value is {calc.mod()}")

Enter two numbers seperated by a space : 20 10
Addition Value is 30
Subtraction Value is 10
Multiplication Value is 200
Division Value is 2.0
Floor Division Value is 2
Modular Value is 0

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [131]:
# Your code here
x = 10
y = 20
print( f"{x} == {y} is {x == y}\n\
{x} != {y} is {x != y}\n\
{x} > {y} is {x > y}\n\
{x} < {y} is {x < y}" )

10 == 20 is False
10 != 20 is True
10 > 20 is False
10 < 20 is True

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [149]:
# Your code here
truthy = 1 #or True
falsy = 0 #or False
print(f"\"{truthy} and {falsy}\" is {truthy and falsy}")
print(f"\"{truthy} or {falsy}\" is {truthy or falsy}")
print(f"\"not {truthy}\" is {1 if not truthy else 0}")
print(f"\"not {falsy}\" is {1 if not falsy else 0}")

"1 and 0" is 0
"1 or 0" is 1
"not 1" is 0
"not 0" is 1

**Question 14:** Write a Python program to calculate the square of a number.

In [133]:
# Your code here
num = int(input("Enter the Number to find the square : "))
square = num**2
print(square)

Enter the Number to find the square : 12
144

**Question 15:** Write a Python program to check if a number is even or odd.

In [150]:
# Your code here
def is_even_odd(number):
    if number % 2 == 0:
       return f"{number} is Even!"
    else:
       return f"{number} is Odd!"
number = int(input("Enter the Number : "))
print(is_even_odd(number))

Enter the Number : 7
7 is Odd!

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [135]:
# Your code here
def sum_of_n(n):
    return n * (n+1)//2
n = int(input("Enter the Natural number : "))
print(sum_of_n(n))

Enter the Natural number : 10
55

**Question 17:** Write a Python program to check if a year is a leap year.

In [152]:
# Your code here
def is_leap_year(year):
    if(year % 4 ==0 and year % 100 != 0) or (year % 400 == 0):
        return f"{year} is a Leap Year"
    else:
        return f"{year} is not a Leap Year"

year = int(input("Enter Year : "))
print(is_leap_year(year))

Enter Year : 2025
2025 is not a Leap Year

**Question 18:** Write a Python program to reverse a string.

In [137]:
# Your code here
def reverse_str_slice(string):
    return f"{string[::-1]}"

#using for loop
def reverse_str_loop(string):
     reversed = ""
     for i in range(len(string)-1,-1,-1):
          reversed += string[i]
     return reversed
string = input("Enter the String : ")
print(reverse_str_slice(string))
print(reverse_str_loop(string))

Enter the String : SaiSriram
marirSiaS
marirSiaS

**Question 19:** Write a Python program to check if a string is a palindrome.

In [145]:
# Your code here
def is_palindrome(string):
     str1 = string.lower()
     start = 0
     end = len(string)-1
     while start < end:
         if str1[start] != str1[end]:
            return f"{string} is not a Palindrome"
         start+=1
         end-=1
     return f"{string} is a Palindrome"
string = input("Enter the String : ")
print(is_palindrome(string))

Enter the String : soS
soS is a Palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [153]:
# Your code here
ls = list(map(int,input("Enter the values seperated by spaces : ").split()))
# ls.sort()
# print(ls)

def sort_list(ls):
    n = len(ls)
    for i in range(n):
       for j in range(0, n - 1 - i):
          if ls[j] > ls[j+1]:
             ls[j], ls[j+1] = ls[j+1], ls[j]
sort_list(ls)
print(ls)

Enter the values seperated by spaces : 1 20 30 0 4 3 3 2 10 100 210
[0, 1, 2, 3, 3, 4, 10, 20, 30, 100, 210]