1.

In [ ]:
ints = [i for i in range(1,21)] #or list(range(1,21))
print(ints)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

2.

In [ ]:
first = ints[0]
middle = ints[len(ints)//2]
last = ints[-1]
print(f"First element is {first}.")
print(f"Middle element is {middle}.")
print(f"Last element is {last}.")

First element is 1.
Middle element is 11.
Last element is 20.

3.

In [ ]:
# print("First five elements :", end = " ")
# for i in range(5):
#     print(ints[i],end=" ")
# print("\nLast five elements :", end = " ")
# for i in range(len(ints)-5,len(ints)):
#     print(ints[i], end =" ")
# print ("\nElements from index 5 to 15 :", end = " ")
# for i in range(5,16):
#     print(ints[i],end=" ")

              #OR

print("First five elements:", ints[:5])
print("Last five elements:", ints[-5:])
print("Elements from index 5 to 15:", ints[5:16])

First five elements: [1, 2, 3, 4, 5]
Last five elements: [16, 17, 18, 19, 20]
Elements from index 5 to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

4.

In [ ]:
squares = [x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

5.

In [ ]:
evens = [x for x in ints if x % 2 ==0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

6.

In [ ]:
random = [1,4,7,2,3,10,2,3,4,11,12,10,20]
temp = random.copy()

#Using Sorted()
asc_list = sorted(random)
print(f"Ascending using sorted() : {asc_list}")

desc_list = sorted(random,reverse=True)
print(f"Ascending using sorted() : {desc_list}")
print()
random.sort()
print(f"Ascending using sort() : {random}")
random.sort(reverse=True)
print(f"Descending using sort() : {random}")
print()
unique_list = []
for item in temp:
    if item not in unique_list:
        unique_list.append(item)
print(f"Unique List is : {unique_list}")
print(f"Unique List using set(): {set(temp)}")

Ascending using sorted() : [1, 2, 2, 3, 3, 4, 4, 7, 10, 10, 11, 12, 20]
Ascending using sorted() : [20, 12, 11, 10, 10, 7, 4, 4, 3, 3, 2, 2, 1]

Ascending using sort() : [1, 2, 2, 3, 3, 4, 4, 7, 10, 10, 11, 12, 20]
Descending using sort() : [20, 12, 11, 10, 10, 7, 4, 4, 3, 3, 2, 2, 1]

Unique List is : [1, 4, 7, 2, 3, 10, 11, 12, 20]
Unique List using set(): {1, 2, 3, 4, 7, 10, 11, 12, 20}

7.

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix)
value = matrix[1][2]
print(value)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

8.

In [ ]:
std_details = [{'name': "Ashok",'score': 90},{'name': "Rahul",'score': 80},{'name': "Sai",'score': 95},{'name': "Raj",'score': 60}]

print(f"Before Sorting : {std_details}")

sorted_dict = sorted(std_details, key = lambda x : x['score'], reverse=True)

print(f"After Sorting : {sorted_dict}")

Before Sorting : [{'name': 'Ashok', 'score': 90}, {'name': 'Rahul', 'score': 80}, {'name': 'Sai', 'score': 95}, {'name': 'Raj', 'score': 60}]
After Sorting : [{'name': 'Sai', 'score': 95}, {'name': 'Ashok', 'score': 90}, {'name': 'Rahul', 'score': 80}, {'name': 'Raj', 'score': 60}]

9.

In [2]:
matrix = []

for i in range(3):
    row = list(map(int, input().split()))
    matrix.append(row)

transpose = [[matrix[j][i] for j in range(3)] for i in range(3)]

for row in transpose:
    print(row)

1 2 3
2 3 5
2 3 4
[1, 2, 2]
[2, 3, 3]
[3, 5, 4]

10.

In [10]:
def flatten_list(ls):
    return [l for item in ls for l in item]
ls = [[1,2,3,4],[12,3,42],[2,3,4]]
print(ls)
print(flatten_list(ls))

[[1, 2, 3, 4], [12, 3, 42], [2, 3, 4]]
[1, 2, 3, 4, 12, 3, 42, 2, 3, 4]

11.

In [15]:
ls = [i for i in range(1,11)]
ls.pop(2) #or del ls[2]
del ls[4]
ls.pop(6)
ls.insert(5,99)
print(ls)

[1, 2, 4, 5, 7, 99, 8, 10]

12.

In [21]:
ls1 = [1,2,3,4,5]
ls2 = [6,7,8,9,10]
zipped = zip(ls1,ls2)
zipped = list(zipped)
print(zipped)

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

13.

In [22]:
def reversed_ls(ls):
    return ls[::-1]
print(reversed_ls([1,2,3,4,5]))

[5, 4, 3, 2, 1]

14.

In [29]:
def rotate_n(ls,n):
    n = n % len(ls)
    for _ in range(n):
        popped = ls.pop()
        ls.insert(0,popped)
    return ls

print(rotate_n([1,2,3,4,5],2))

[4, 5, 1, 2, 3]

15.

In [35]:
def common(ls1,ls2):
    return [x for x in ls1 if x in ls2]
ls1 = [1,2,3,4,5]
ls2 = [3,4,5,6,7]
print(common(ls1,ls2))
ls1 = set(ls1)
ls2 = set(ls2)
intersect_ls = list(ls1.intersection(ls2))
print(intersect_ls)

[3, 4, 5]
[3, 4, 5]

# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.